{{#if x}}
<p>No Projects are created. Create projects to view the statistics page</p>
   <a class="nav-link" href="/">Home </a>

{{else}}
<main>
    <div id="statistics-max-min-para">
    <h1 id="statistics-h1-page" style="margin-bottom:30px;">PROJECT STATISTICS:</h1>
    <p id="projectNameArray" hidden >{{projectsArray}}</p>
    <p id="projectDurationArray" hidden>{{durationArray}}</p>
    <p id="statistics-max-project-data">Max time taken on: <span class="statistics-span">{{maxProject}}</span></p>
    <p id="statistics-min-project-data">Min time taken on: <span class="statistics-span">{{minProject}}</span></p>
    </div>
</main>
{{/if}}


<canvas id="myChart" style="width:100%;max-width:800px;margin:auto"></canvas>

<script>
var x = document.getElementById("projectNameArray").innerHTML;    
var y = document.getElementById("projectDurationArray").innerHTML;
 x = x.split(",");
 y = y.split(",")

var xValues = x;
var yValues = y;
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145",
  "#763268",
  "#a99338",
  "#b86ae1",
  "#0906d2",
  "#d4bd3b",
  "#b84306",
  "#051447",
  "#189d4e",
  "#1d778a",
  "#b87eb3",
  "#f3c4ea",
  "#e272ea",
  "#a94147",
  "#d0931f",
  "#d5cf4a",
  "#8b73ad",
  "#96934f",
  "#dc0000"  
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true
    }
  }
});
</script>
<div id="statistics-div-home-back-button"><button class="btn btn-info" id="statistics-home-back-button" onclick="location.href='/'"> Home</button></div>

