{{#if x}}
<p>No Projects are created. Create projects to view the statistics page</p>
   <a class="nav-link" href="/">Home </a>

{{else}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
var xValues = {{projectsArray}};
var yValues = {{durationArray}};
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145",
  "#763268",
  "#a99338",
  "#b86ae1",
  "#0906d2",
  "#d4bd3b",
  "#b84306",
  "#051447",
  "#189d4e",
  "#1d778a",
  "#b87eb3",
  "#f3c4ea",
  "#e272ea",
  "#a94147",
  "#d0931f",
  "#d5cf4a",
  "#8b73ad",
  "#96934f",
  "#dc0000"  
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "World Wide Wine Production 2018"
    }
  }
});
</script>

<main>
    <div id="statistics-max-min-para" style="width:100%;margin-top:5%;text-align:center;">
    <p>Max time taken on: {{maxProject}}</p>
    <p>Min time taken on: {{minProject}}</p>
    </div>
</main>
{{/if}}
