{{#if x}}
<p>No Projects are created. Create projects to view the statistics page</p>
   <a class="nav-link" href="/">Home </a>

{{else}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
var x = document.getElementById("projectNameArray");    
var y = document.getElementById("projectDurationArray");
function validInput(inputedText) {
 
  let openBrac = -1;
  let openBracIndex = -1;
  let closeBracIndex = -1;
  let arr = [];
  if (!inputedText) {
    return "Error: input is empty";
  }
  for (let i = 0; i < inputedText.length; i++) {
    if (
      (inputedText.charCodeAt(i) >= 48 && inputedText.charCodeAt(i) <= 57) ||
      inputedText.charCodeAt(i) == 91 ||
      inputedText.charCodeAt(i) == 93 ||
      inputedText.charCodeAt(i) == 44 ||
      inputedText.charCodeAt(i) == 32 ||
      inputedText.charCodeAt(i) == 45
    ) {
      if (inputedText.charCodeAt(i) == 91) {
        if (openBrac == 1) {
          return "Error: invalid brackets";
        }
        openBrac = 1;
        openBracIndex = i;
      } else if (openBrac == 1 && inputedText.charCodeAt(i) == 93) {
        closeBracIndex = i;
        openBrac = -1;
        if (openBracIndex != closeBracIndex - 1) {
          arr.push(inputedText.substring(openBracIndex, closeBracIndex + 1));
        } else {
          return "Error: Array should have atleast one element";
        }
      } else if (openBrac == -1 && inputedText.charCodeAt(i) == 93) {
        return "Error: invalid brackets";
      } else if (
        openBrac == -1 &&
        inputedText.charCodeAt(i) != 44 &&
        inputedText.charCodeAt(i) != 32
      ) {
        return "Error: Invalid Input inside";
      }
    } else {
      return "Error: Invalid Input";
    }
  }
  if (openBrac == 1) {
    return "Error: Invalid Brakets";
  }
  try {
    for (let i = 0; i < arr.length; i++) {
      let temp = JSON.parse(arr[i]);
      arr[i] = temp;
    }
  } catch {
    return "error: invalid integer";
  }

  let finalarr = [];
  for (let i = 0; i < arr.length; i++) {
    finalarr = finalarr.concat(arr[i]);
  }

  return finalarr;
}

var a = validInput(x);
var b = validInput(y);



var xValues = a;
var yValues = b;
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145",
  "#763268",
  "#a99338",
  "#b86ae1",
  "#0906d2",
  "#d4bd3b",
  "#b84306",
  "#051447",
  "#189d4e",
  "#1d778a",
  "#b87eb3",
  "#f3c4ea",
  "#e272ea",
  "#a94147",
  "#d0931f",
  "#d5cf4a",
  "#8b73ad",
  "#96934f",
  "#dc0000"  
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "World Wide Wine Production 2018"
    }
  }
});
</script>

<main>
    <div id="statistics-max-min-para" style="width:100%;margin-top:5%;text-align:center;">
    <p id="projectNameArray" hidden>{{projectsArray}}</p>
    <p id="projectDurationArray" hidden>{{durationArray}}</p>
    <p>Max time taken on: {{maxProject}}</p>
    <p>Min time taken on: {{minProject}}</p>
    </div>
</main>
{{/if}}
