<h1>Client Details</h1>
<form id="clientDetails-update-form" action="" method="POST">
    

    <label for="clientFirstName">First Name: *</label>
    <input id="clientFirstName" name="clientFirstName" type="text" value="{{fname}}" required>
    <br/>
    <label for="clientLastName">Last Name: *</label>
    <input id="clientLastName" name="clientLastName" type="text" value="{{lname}}" required>
    <br/>
    <label for="clientEmail">Email: *</label>
    <input id="clientEmail" name="clientEmail" type="text" value="{{email}}" required>
    <br/>
    <label for="clientGender">Gender: *</label>
    <select id="clientGender" name="clientGender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Others">Others</option>
    </select>
    <br/>

    <p>required (*)</p>
    
    <br/>
    <button type="submit">Update</button>  
</form>

<button class="btn btn-info" onclick="location.href='/clients/client/{{clientId}}'">Cancel</button>

{{#if error}}
    <h4>Error: </h4>
    <p class="is-red"> {{error}} </p>
{{/if}}