<h1>Client Details</h1>
<dl>
  <dt>First Name: </dt>
  <dd>{{fname}}</dd>
  <br/>
  <dt>Last Name: </dt>
  <dd>{{lname}}</dd>
  <br/>
  <dt>Email: </dt>
  <dd>{{email}}</dd>
  <br/>
  <dt>Gender: </dt>
  <dd>{{gender}}</dd>
</dl> 

<br/>

<button class="btn btn-info" onclick="location.href='/clients/client/{{clientId}}/edit'" >Update</button>
<br/>
<button class="btn btn-danger" onclick="location.href='/clients/delete/{{clientId}}'">Delete Client</button>