<nav class="navbar navbar-expand-lg navbar-dark bg-dark me-0 ms-0 mt-0 mb-3">
  <a class="ms-3 navbar-brand me-5" href="/">Time Manager</a>
  <div class="me-5 navbar-dark navbar" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clients/{{userId}}">User Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">My Details</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Create Client </h1>
<form id="createClient-form" action="/clients/create" method="POST">
    

    <label for="clientFirstName">First Name: *</label>
    <input id="clientFirstName" name="clientFirstName" type="text" value="{{fname}}" required>
    <br/>
    <label for="clientLastName">Last Name: *</label>
    <input id="clientLastName" name="clientLastName" type="text" value="{{lname}}" required>
    <br/>
     <label for="clientGender">Gender: *</label>
    <select id="clientGender" name="clientGender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Others">Others</option>
    </select>
    <br/>
    <label for="clientEmail">Email: *</label>
    <input id="clientEmail" name="clientEmail" type="text" value="{{email}}" required>
    <br/>
   

    <p>required (*)</p>
    
    <button class="btn btn-info" type="submit">Create Client</button>  
</form>

<br>
<br>
<button class= "btn btn-warning"onclick="location.href='/'"> Back </button>



{{#if error}}
    <h4>Error: </h4>
    <p class="is-red"> {{error}} </p>
{{/if}}