<nav class="navbar navbar-expand-lg navbar-dark bg-dark me-0 ms-0 mt-0 mb-3">
  <a class="ms-3 navbar-brand me-5" href="/">Time Manager</a>
  <div class="me-5 navbar-dark navbar" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clients/{{userId}}">User Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">My Details</a>
      </li>
    </ul>
  </div>
</nav>

<h1>All task</h1>

<main>
  <ul>
    {{#each allTask}}
      <li>
        <a href="/tasks/project/{{this._id}}">
          {{!-- <h2>{{this._id}}</h2> --}}
          <p>{{this.taskName}}</p> 
        </a>
      </li>
    {{/each}}
  </ul>
</main>

{{#if x}}

  <p>Add tasks by clicking the Add Task button</p>

{{/if}}

{{! have to execute in future }}
<button class="btn btn-primary" onclick="location.href='/tasks/create/{{projectId}}'">
  Add task
</button>
