<nav class="navbar navbar-expand-lg navbar-dark bg-dark me-0 ms-0 mt-0 mb-3">
  <a class="ms-3 navbar-brand me-5" href="/">Time Manager</a>
  <div class="me-5 navbar-dark navbar" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/clients/{{userId}}">User Clients</a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">My Details</a>
      </li>
    </ul>
  </div>
</nav>

<h1>All task</h1><br>

<form action="/tasks/{{projectId}}" method="POST">
  Filters
  <input name="projectId" type="text" hidden="false" value={{projectId}} />

  <button
  class = "btn btn-info"
    onclick="location.href='/tasks/{{projectId}}'"
    type="submit"
    name="allTask"
    value="true"
  >All Task</button>
  <button
  class = "btn btn-danger"
    onclick="location.href='/tasks/{{projectId}}'"
    type="submit"
    name="pending"
    value="true"
  >Pending</button>
  <button
  class = "btn btn-success"
    onclick="location.href='/tasks/{{projectId}}'"
    type="submit"
    name="completed"
    value="true"
  >Completed</button>
</form><br>

<main class="all-margin">
  <ul>
    {{#each allTask}}
      <li>
        <a href="/tasks/project/{{this._id}}">
          {{!-- <h2>{{this._id}}</h2> --}}
          <h2>{{this.taskName}} </h2>
        </a>
      </li>
    {{/each}}
  </ul>
</main>

{{#if x}}

  <p>Add tasks by clicking the Add Task button</p>

{{/if}}
<br>
{{! have to execute in future }}
<button class="btn btn-primary" onclick="location.href='/tasks/create/{{projectId}}'">
  Add task
</button>
<button class="btn btn-warning" onclick="location.href='/projects/project/{{projectId}}'"> Back </button>
