<nav class="navbar navbar-expand-lg navbar-dark bg-dark me-0 ms-0 mt-0 mb-3">
  <a class="ms-3 navbar-brand me-5" href="/">Time Manager</a>
  <div class="me-5 navbar-dark navbar" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/clients/{{userId}}">User Clients</a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">My Details</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Task Comment for {{taskName}}:</h1>
<form
  id="taskComment-form" 
  action="{{!--   /tasks/create/{{projectId}}--}}"
  method="POST"
>

  <label for="taskComment">Task comment: *</label>
  <input
    id="taskComment"
    name="taskComment"
    type="text"
    value="{{taskComment}}"
    required>
  
  <button type="submit">Submit</button>
</form>

{{#if error}}
  <h4>Error: </h4>
  <p class="is-red"> {{error}} </p>
{{/if}}


