<nav class="navbar navbar-expand-lg navbar-dark bg-dark me-0 ms-0 mt-0 mb-3">
  <a class="ms-3 navbar-brand me-5" href="/">Time Manager</a>
  <div class="me-5 navbar-dark navbar" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clients/{{userId}}">User Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">My Details</a>
      </li>
    </ul>
  </div>
</nav>
  {{!-- <button class="ms-5 btn btn-warning" onclick="location.href='/logout'" type="button">Logout</button> --}}




<hr>

<h1>Project Details</h1>

<hr>

<div class="grid">
  <dl>
  <dt>Project Name: </dt>
  <dd>{{pname}}</dd>
  <dt>projectDescription: </dt>
  <dd>{{pdescription}}</dd>
  <dt>Client Name: </dt>
  <dd>{{clientName}}</dd>
  <dt>Start Date: </dt>
  <dd>{{sDate}}</dd>
   <dt>End Date: </dt>
  <dd>{{eDate}}</dd>
  <dt> Total Duration: </dt>
  <dd>{{totalDuration}}</dd>
</dl> 

</div>



<hr>

<form action="mailto:{{email}}" method="post" enctype="text/plain">
<p>Click on below button to send email to <strong>"{{clientName}}":{{email}}</strong></p>
  <button class="btn btn-primary" type="submit">Send Email</button>
</form>
<br>

<button onclick="location.href='/projects/project/{{projectId}}/edit'" >Update</button>

<button class="is-red" onclick="location.href='/projects/delete/{{projectId}}'">Delete Project</button>

<button onclick="location.href='/projects/project/{{projectId}}/complete'">Project Complete</button>
