<nav class="navbar navbar-expand-lg navbar-dark bg-dark me-0 ms-0 mt-0 mb-3">
  <a class="ms-3 navbar-brand me-5" href="/">Time Manager</a>
  <div class="me-5 navbar-dark navbar" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clients/{{userId}}">User Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">My Details</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Project Details</h1>
<form id="projectDetails-update-form" action="" method="POST">
    

    <label for="projectName">Project Name: *</label>
    <input id="projectName" name="projectName" type="text" value="{{pname}}" required>
    <br>
    <label for="projectDescription">Project Description: *</label>
    <input id="projectDescription" name="projectDescription" type="text" value="{{pdescription}}" required>
    <br>
    <label for="clientName">Client Name: *</label>
    <select id="clientName" name="clientName">
        {{#each clients}}
               <option value="{{this.cfirstName}} {{this.clastName}}">{{this.cfirstName}} {{this.clastName}}</option>
        {{/each}}
    </select>
    <br>
    <label for="startDate">Start Date: </label>
    <input id="startDate" name="startDate" type="text" value="{{sDate}}" disabled>
    <br>
    <label for="endDate">End Date: </label>
    <input id="endDate" name="endDate" type="text" value="{{eDate}}" disabled>
    <br>
    <label for="totalDuration">Total Duration </label>
    <input id="totalDuration" name="totalDuration" type="text" value="{{totalDuration}}" disabled>
    <br>

    <p>required (*)</p>
    
    <br>
    <button type="submit">Update</button>  
</form>

<button onclick="location.href='/projects/project/{{projectId}}'">Cancel</button>

{{#if error}}
    <h4>Error: </h4>
    <p class="is-red"> {{error}} </p>
{{/if}}