<nav class="navbar navbar-expand-lg navbar-dark bg-dark me-0 ms-0 mt-0 mb-3">
  <a class="ms-3 navbar-brand me-5" href="/">Time Manager</a>
  <div class="me-5 navbar-dark navbar" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clients/{{userId}}">User Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">My Details</a>
      </li>
    </ul>
  </div>
  <button class="ms-5 btn btn-warning" onclick="location.href='/logout'" type="button">Logout</button>
</nav>

<hr>
<div class="grid">
  <dl>
    <dt>First Name: </dt>
    <dd>{{fname}}</dd>
    <br/>
    <dt>Last Name: </dt>
    <dd>{{lname}}</dd>
    <br/>
    <dt>Email: </dt>
    <dd>{{email}}</dd>
    <br/>
    <dt>Gender: </dt>
    <dd>{{gender}}</dd>
  </dl> 
</div>

<hr>
<br>

<button class="btn btn-primary" onclick="location.href='/user/profile/edit'" >Update</button>
<button class="btn btn-danger" onclick="location.href='/user/delete'">Delete Account</button>